<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.autostock.pipeline</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__AUTOSTOCK_ROOT__/scripts/run_daily_pipeline.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Weekday</key><integer>1</integer>
      <key>Hour</key><integer>8</integer>
      <key>Minute</key><integer>50</integer>
    </dict>
    <dict>
      <key>Weekday</key><integer>2</integer>
      <key>Hour</key><integer>8</integer>
      <key>Minute</key><integer>50</integer>
    </dict>
    <dict>
      <key>Weekday</key><integer>3</integer>
      <key>Hour</key><integer>8</integer>
      <key>Minute</key><integer>50</integer>
    </dict>
    <dict>
      <key>Weekday</key><integer>4</integer>
      <key>Hour</key><integer>8</integer>
      <key>Minute</key><integer>50</integer>
    </dict>
    <dict>
      <key>Weekday</key><integer>5</integer>
      <key>Hour</key><integer>8</integer>
      <key>Minute</key><integer>50</integer>
    </dict>
  </array>
  <key>StandardOutPath</key>
  <string>__AUTOSTOCK_ROOT__/logs/launchd_pipeline.out.log</string>
  <key>StandardErrorPath</key>
  <string>__AUTOSTOCK_ROOT__/logs/launchd_pipeline.err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
    <key>TZ</key>
    <string>Asia/Seoul</string>
  </dict>
  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
